
	*, *:before, *:after {
  	-webkit-box-sizing: border-box; 
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	}

* {
	margin:0;
	padding: 0;	
}
	#container{
		width:100%;
		display: block;
		padding: 0px;
		margin-left: 0px;
		background-color: white;
	}
	
	body{
		color: #445544;
		font-family: 'Arimo', sans-serif, 'Playfair Display', serif;
		font-size:16px;
	}


header { 
		background-image: url(desk2.jpg);
    	background-size: cover;
    	background-position: center;
    	height: 100vh;
    	background-attachment: fixed;
		
	}
	

<<<<<<< HEAD
=======

	.row{
		max-width: 1140px;
		margin: 0 auto;
	}


	.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
 	}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

.section{
	padding: 0px;
	margin: 0px;
	max-width:860px;
	margin:auto;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.hero-area{
	width: 100%;
	margin: auto;
	background: rgba(255,255,255, .93);
	padding: 1em;	
}


.text-area{
	position: absolute;
	left:5%;
	top:40%;
	background:rgba(255,255,255,0.5);
  	padding:1.5rem;
}


.text-area p{
	padding-bottom: 20px;
}


.text-area h2{
	color:#9b59b6;
}

	

	.serif {
		font-family: 'Arimo', sans-serif;
	}


	
.panel {
	width:100%;
	margin:auto;
}
	.second-panel{
		width:100%;
		margin:auto;
	}


	.third-panel{
		width:100%;
		margin:auto;
	}

.panel, .contact img {
	float:right;
		padding:10px;
		max-width:250px;
}

	.third-panel img{
		float:right;
		padding:10px;
		max-width:250px;
	}

	.full-width-img{
		background: url(code-and-coffee1920.jpg) no-repeat;
		height:600px;
		max-width: 1920px;
		background-size: 100%;
		width:100%;
		position:relative;
		padding-top:5%;
		padding-bottom:5%;
	}



	.fourth-panel{
		width:100%;
		margin:auto;
		background:rgba(255,255,255, .93);
		min-height: 450px;	
		padding:1em;

	}

	

>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
	p {
		color: #2c3e50;
		font-family: 'Arimo', sans-serif, 'Playfair Display', serif;
		font-size:1em;
		line-height: 130%;
		letter-spacing: 0.09em;
	}

<<<<<<< HEAD
	/*hr {
=======
	hr {
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
		margin-top:30px;
		border: 0;
    	height: 0;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
<<<<<<< HEAD
	}*/
=======
	}
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5

	a {
		color: #13c1f1;
		text-decoration: none;
	}

	a:hover {
		color: #008EBE;
		text-decoration: none;
	}


	

	article {
		background-color: white;
		max-width: 720px;
		margin:auto;
		padding: 10px 10px 20px 10px;
		
	}

	article p{
		margin-bottom: 15px;
	}


	h1 {
		color: #2ecc71;
		font-size:2.3rem;
		padding: 5px;
		font-family: 'Lobster', 'Josefin Sans', cursive, sans-serif;
	}


	h1 a {
		color: #2ecc71;
	}

	h1 a:hover {
		color:#27ae60;
		text-decoration: none;
	}
	
	h2 {
		font-size:1.75rem;
<<<<<<< HEAD
		color: #000;
=======
		color: #2ecc71;
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
		font-family: 'Lobster', 'Josefin Sans', cursive, sans-serif;
		margin-bottom: 15px;
		margin-top:10px;
	}

	h3{
		font-family: 'Lobster', 'Josefin Sans', cursive, sans-serif;
		color: #1abc9c;
	}	

	ul {
		list-style-type: square;
	}

	li {
		color: #2c3e50;
		font-family: 'Arimo', sans-serif, 'Playfair Display', serif;
		line-height: 120%;
		letter-spacing: 1.5px;
		margin-left:1.5em;
		margin-bottom: 8px;
	}

/*Logo*/

.logo {
<<<<<<< HEAD
	/*height: 100px;*/
=======
	height: 100px;
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
	width: auto;
	float: left;
	margin-top:20px;
}

.logo-alt {
	display:none;
	height:50px;
	width:auto;
	float:left;
	margin-top: 5px;
	margin: 5px 0;
}


/*navigation*/

	nav {
		background-color: #F1F1F1;
		opacity:0.8;
		text-align: center;

	}

	.main-nav {
		float:right;
		list-style:none;
		margin-top:55px;
	}


	nav ul{
		padding:0;
		margin:0;
	}

	nav li {
		display: inline-block;
		padding: 1rem;
		font-family: 'Istok Web', sans-serif;
		font-size:1.250em;
		margin-top: 1.875em;
		margin-bottom:.938em;
		padding-top: .313em;
		padding-bottom:0px;

	}

	.main-nav li a:link,
	.main-nav li a:visited{
		padding: 8px 0;
		color: #9b59b6;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		white-space: nowrap;
		transition: 0.5s ease;

	}
	
	.main-nav li a:hover, 
	.main-nav li a:active{
		border-bottom:2px solid #27ae60;
		color: #8e44ad;
		width: 200px;
	}


/* - - -  - - - sticky nav - - -  - - - */

.sticky {
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background-color: #F1F1F1;
	opacity:0.8;
	box-shadow: 0 2px 2px #efefef;
}

.sticky .main-nav {
	margin-top:5px;
}

.sticky img{
	margin-top:20px;
}
	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited{
		padding: 10px 0;
		color: #9b59b6;
	}

	.sticky li a:hover, 
	.sticky li a:active{
		border-bottom:2px solid #27ae60;
		color: #8e44ad;
	}

	.sticky .logo { display: none;}
	.sticky .logo-alt {display: block;}
	

/*mobile nav*/
	.mobile-nav-icon {
		float:right;
		margin-top: 30px;
		cursor: pointer;
		display:none;
	}

	 .mobile-nav-icon i {
		font-size: 200%;
	 	color:#2ecc71;
	 }

/*- - - - CONTACT FORM - - - -*/

	form {
		width:70%;
		margin:0 auto;
	}


	input {
		width:100%;
		padding:10px;
		border-radius:4px;
		border:1px dashed black;
		/*margin-left:10px;
		margin-right:10px;*/
	}
	

	textarea {
		width:100%;
		padding:10px;
		border-radius:4px;
		border:1px dashed black;
	}

	textarea{
		height:150px;
		margin-bottom: 10px;
	}

	input[type=submit]{
		border:0;
	}

	*:focus { outline: none; }

	
	.span_3_of_3 {
		width: 100%; 
	}

	.span_2_of_3 {
		width: 66.13%; 
	}

	.span_1_of_3{
		width: 32.26%; 
	}



<<<<<<< HEAD
	.row{
		max-width: 1140px;
		margin: 0 auto;
	}


	.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
 	}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

.section{
	padding: 0px;
	margin: 0px;
	max-width:860px;
	margin:auto;
	border-bottom: 1px solid black;

	/*hr {
		margin-top:30px;
		border: 0;
    	height: 0;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}*/
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.hero-area{
	width: 100%;
	margin: auto;
	background: rgba(255,255,255, .93);
	padding: 1em;	
}


.text-area{
	position: absolute;
	left:5%;
	top:40%;
	background:rgba(255,255,255,0.5);
  	padding:1.5rem;
}


.text-area p{
	padding-bottom: 20px;
}


.text-area h2{
	color:#9b59b6;
}

	

	.serif {
		font-family: 'Arimo', sans-serif;
	}


	
/*.panel {
	width:100%;
	margin:auto;
	/*min-height: 550px;
}*/


.full-width-img-1{
		width:100%;
		margin: 0 auto;
		background: url(../images/succulents.jpg) no-repeat;
		max-width: 1920px;
		background-size: 100%;
		position:relative;
		padding-top:5%;
		padding-bottom:5%;
 		background-image: 
    		linear-gradient(
     		 rgba(0, 0, 0, 0.5),
     		 rgba(0, 0, 0, 0.5)
 		   ),
    	url(../images/succulents.jpg);
	
	}

.fullpanel {
	min-height: 550px;
	/*background-color: yellow;*/
}

	.first-panel {
		background-color: transparent;
	}
	/*.first-panel h2 {
		color: white;
	}*/
	.second-panel{
		width: 100%;
		margin: 0 auto;
		/*background-color: transparent;*/
		background-color: 
 			rgba(0, 0, 0, 0.2)
 		   
	}
	
	.second-panel p{
		color: white;
	}
	.second-panel li{
		color: white;
	}

	.icon-fun {
		padding: 20px;
		display: inline-block;
		margin-left: 10px;
		margin-right: 20px;
	}

	.full-width-img-2{
		width:100%;
		margin: 0 auto;
		background: url(../images/succulents.jpg) no-repeat;
		max-width: 1920px;
		background-size: 100%;
		position:relative;
		padding-top:5%;
		padding-bottom:5%;
 		background-image: 
    		linear-gradient(
     		 rgba(0, 0, 0, 0.3),
     		 rgba(0, 0, 0, 0.3)
 		   ),
    	url(../images/succulents.jpg);
	
	}
.unicorn-bg {
	display: inline;
	float: left;
	margin-top: 60px;

}
.unicorn {
	transform: rotate(360deg);
	transform-origin: 50% 50%;
	width: 300px;
	height: 400px;
	fill: black;
	opacity:0.1;
 
}

	.third-panel{
		width:100%;
		margin: 0 auto;
	}

.panel, .contact img {
	float:right;
		padding:10px;
		max-width:250px;
}

	.third-panel img{
		float:right;
		padding:10px;
		max-width:250px;
	}

	.full-width-img-3{
		background: url(code-and-coffee1920.jpg) no-repeat;
		height:600px;
		max-width: 1920px;
		background-size: 100%;
		width:100%;
		position:relative;
		padding-top:5%;
		padding-bottom:5%;
	}



	.fourth-panel{
		width:100%;
		margin:auto;
		background:rgba(255,255,255, .93);
		min-height: 450px;	
		padding:1em;

	}

	


=======
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
<<<<<<< HEAD

	.unicorn {
	display: none;
	}
=======
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
}

.btn,
input[type=submit]{
  background: #3498db;
  border-radius: 28px;
  font-family: 'Istok Web', Arial, sans-serif;
  color: #ffffff;
  font-size: 1em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-bottom: 10px;
}


.btn:hover,
input[type=submit]:hover,
input[type=submit]:active {
  background: #3cb0fd;
  text-decoration: none;
  color:#ffffff;
}

.btn-primary{
  margin-top: 20px;
  background: #3498db;
  border-radius: 25px;
  font-family: 'Istok Web', Arial, sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  padding: .75em;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 40%;
}

.btn-primary:hover{
  background: #3cb0fd;
  color:#ffffff;
}

	footer {
		text-align: center;
		background-color: #ecf0f1;
		width:100%;
	}

	footer h2 {
		padding-top: 20px;
		color: white;
		font-size: 2em;
		margin:auto;
	}
	

	footer i{
		color: #9b59b6;
	}

	footer i:hover{
		color: #8e44ad;
	}

/*  GRID OF SIX   ============================================================================= */


.span_6_6 {
	width: 100%;
}

.span_5_6 {
  	width: 83.06%;
}

.span_4_6 {
  	width: 66.13%;
}

.span_3_6 {
  	width: 49.2%;
}

.span_2_6 {
  	width: 32.26%;
}

.span_1_6 {
  	width: 15.33%;
}


/* - - - - Full width under 480px - - - - */

@media only screen and (max-width: 480px) {
	.span_6_6 {
		width: 100%; 
	}
	.span_5_6 {
		width: 100%; 
	}
	.span_4_6 {
		width: 100%; 
	}
	.span_3_6 {
		width: 100%; 
	}
	.span_2_6 {
		width: 100%; 
	}

}
	/*.span_1_6 {
		width: 100%; 
	}
}*/
<<<<<<< HEAD
/*@media only screen and (max-width: 600px) {
.unicorn {
	float: none;
	}
*/
=======


>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5

 /* - - - - - - - ANIMATIONS - - - - - - - */
.js--wp1, 
.js--wp2,
.js--wp3 {
	opacity:0;
	-webkit-animation-duration: 4s;
	animation-duration:4s;
}

.js--wp4{
	opacity:0;
	-webkit-animation-duration: 1.5s;
	animation-duration:1.5s;
}

.js--wp1 .animated,
.js--wp2 .animated,
.js--wp3 .animated,
.js--wp4   {
	opacity:1;
}




 /* - - - - - - - font icons - - - - - - - */
<<<<<<< HEAD
.gantt2 {
	fill: #2c3e50;
	/*width: 100px;*/
}
 .content-icon {
 	width: 100px;
 	height: 120px;
 	fill: #2c3e50;
 }
 .content-icon:hover{
 	fill: white;
 }
=======
>>>>>>> 2efbe7c0cf18e996ea08a397b0f206fdb034baf5
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.eot');
    src: url('sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans500_medium';
    src: url('sinkinsans_500medium_macroman/SinkinSans-500Medium-webfont.eot');
    src: url('sinkinsans_500medium_macroman/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('sinkinsans_500medium_macroman/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('sinkinsans_500medium_macroman/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('sinkinsans_500medium_macroman/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

